.blue
{
    color:rgb(40,201,255);
}
.black
{
    color:black;
}
.card
{
position: relative;
}
.card img
{
width:100%;
height:auto
}
.text
{
position: absolute;
top: 50%;
left:50%;
transform: translate(-50% ,-50%);
color: white;
padding: 20px;
}
.text h1
{
font-size: 40px;
text-transform: uppercase;
font-weight: bold;
}
.text h2
{
font-size: 20px;
}
